@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans.woff);
    src: url(../fonts/PTSans.woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Bold.woff);
    src: url(../fonts/PTSans-Bold.woff2);
    font-style: normal;
    font-weight: bold;
}

